{:rule-file "examples/tutorial/step4/rules.clj"
 :externals-file "examples/tutorial/step4/externals.edn"
 :wildcards-file "examples/tutorial/step4/wildcards.tsv"
 :base-path "/Users/endrebakkenstovner/everclear/tutorial/step4/results"
 :log-path "/Users/endrebakkenstovner/everclear/tutorial/step4/logs"}
