{:rule-file "examples/tutorial/step3/rules.clj"
 :externals-file "examples/tutorial/step3/externals.edn"
 :wildcards-file "examples/tutorial/step3/wildcards.tsv"
 :base-path "/Users/endrebakkenstovner/everclear/tutorial/step3/results"
 :log-path "/Users/endrebakkenstovner/everclear/tutorial/step3/logs"}
